<div id="main" class="wrapper style1">
	<div class="container">
<header class="major">
    <h2>Welcome in your {{ administerPollRoomCtrl.pollRoom.name }} poll room !</h2>
</header>
<section id="content">
<div class="col-md-12">
    <h1>Questions</h1>
    <table class="table table-striped">
        <thead>
            <th>Statement</th>
            <th>First possibility of response</th>
            <th>Second possibility of response</th>
            <th>Third possibility of response</th>
        </thead>
        <tbody>
            <tr ng-repeat="question in administerPollRoomCtrl.pollRoomQuestions">
                <td>{{question.statement}}</td>
                <td>{{question.firstPossibilityOfResponse}}</td>
                <td>{{question.secondPossibilityOfResponse}}</td>
                <td>{{question.thirdPossibilityOfResponse}}</td>
                <td><a ng-click='administerPollRoomCtrl.delete(question)'>Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-inverse" type="submit" ui-sref="create-question">
            Create question
    </button>

    <button class="btn btn-inverse" type="submit" ui-sref="results-charts">
            Results / Charts
    </button>
</div>
</section>
</div>
</div>
