<div>This is the poll-room view.</div>

<div>
    <h1>Welcome in the {{ pollRoomCtrl.pollRoom.name }} poll room !</h1>

    <div class="col-md-12">
        <h1>Questions</h1>

        <div ng-repeat="question in pollRoomCtrl.pollRoomQuestions">
            {{question.statement}}<br>
            <input type="radio" ng-model="question.answered" ng-value="1"> {{ question.firstPossibilityOfResponse }}<br>
            <input type="radio" ng-model="question.answered" ng-value="2"> {{ question.secondPossibilityOfResponse }}<br>
            <input type="radio" ng-model="question.answered" ng-value="3"> {{ question.thirdPossibilityOfResponse }}<br>

            <button class="btn btn-inverse" type="submit" ng-click="pollRoomCtrl.update(question)">
                Answer
            </button>

            Already {{ (question.numberOfResponsesForFirstPossibilityOfResponse * 1) + (question.numberOfResponsesForSecondPossibilityOfResponse * 1) + (question.numberOfResponsesForThirdPossibilityOfResponse * 1) }} answers
            <p></p>
        </div>

    </div>

</div>