<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
    <h2>Welcome in the {{ pollRoomCtrl.pollRoom.name }} poll room !</h2>
		</header>
		<section id="content">
        <h1>Questions</h1>

        <div ng-repeat="question in pollRoomCtrl.pollRoomQuestions">
            {{question.statement}}<br>
            <button ng-disabled="question.isAnswered" class="btn btn-inverse" type="submit" ng-click="pollRoomCtrl.update(question, 1)">
                A
            </button> {{ question.firstPossibilityOfResponse }}<br>

            <button ng-disabled="question.isAnswered" class="btn btn-inverse" type="submit" ng-click="pollRoomCtrl.update(question, 2)">
                B
            </button> {{ question.secondPossibilityOfResponse }}<br>

            <button ng-disabled="question.isAnswered" class="btn btn-inverse" type="submit" ng-click="pollRoomCtrl.update(question, 3)">
                C
            </button> {{ question.thirdPossibilityOfResponse }}<br>
            
            Already {{ (question.numberOfResponsesForFirstPossibilityOfResponse
            * 1) + (question.numberOfResponsesForSecondPossibilityOfResponse * 1) + (question.numberOfResponsesForThirdPossibilityOfResponse
            * 1) }} answers

            <p></p>

        </div>

		</section>
	</div>
</div>
