<div>This is the poll-room view.</div>

<div>
    <h1>Welcome in the {{ pollRoomCtrl.pollRoom.name }} poll room !</h1>

    <div class="col-md-12">
        <h1>Questions</h1>
        <table class="table table-striped">
            <thead>
                <th>Statement</th>
                <th>First possibility of response</th>
                <th>Second possibility of response</th>
                <th>Third possibility of response</th>
            </thead>
            <tbody>
                <tr ng-repeat="question in pollRoomCtrl.pollRoomQuestions">
                    <td>{{question.statement}}</td>
                    <td><input type="radio" name="question.statement" ng-model="pollRoomCtrl.response" value="{{ question.firstPossibilityOfResponse }}"> {{ question.firstPossibilityOfResponse }}<br></td>
                    <td><input type="radio" name="question.statement" ng-model="pollRoomCtrl.response" value="{{ question.secondPossibilityOfResponse }}"> {{ question.secondPossibilityOfResponse }}<br></td>
                    <td><input type="radio" name="question.statement" ng-model="pollRoomCtrl.response" value="{{ question.thirdPossibilityOfResponse }}"> {{ question.thirdPossibilityOfResponse }}<br></td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>{{ pollRoomCtrl.response }}</h2>

</div>