<div>This is the create-poll-room view.</div>

<div class="col-sm-12">
    <form class="form" name="form">

        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Enter the poll room name" ng-model="createPollRoomCtrl.pollRoom.name" required size="35">
        </div>

        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter the poll room password (can be blank)" ng-model="createPollRoomCtrl.pollRoom.password" required
                size="35">
        </div>
    </form>

    <div>
        <button class="btn btn-inverse" type="submit" ng-click="createPollRoomCtrl.createPollRoom()">
            Create !
          </button>

    </div>